<div class="container-fluid">
	<div class="headSIMA">
            <hr />
            <h1>ARCA</h1>
          
            <hr />
        </div>
    <div class="headSIMA">
     <form  ng-submit="login()">
          <label class="item item-input">
            <span class="input-label">Cedula: </span>
            <input class="form-control" type="text" ng-model="userInfo.user">
          </label>
          <br>
          <label class="item item-input">
            <span class="input-label">Contraseña:</span>
            <input class="form-control" type="password" ng-model="userInfo.password" />
          </label>
          <br>
          <button style="background-color: blue; color: white;" class="round-button" type="submit" >Login</button>
      </form>
    </div>
</div>
